#welcome-page {
    height: 100vh;
    margin: 0px;
    background-image: url("../assets/turing_texture.jpg");
}

body{
    margin: 0px;
}

h1 {
    font-family: 'Geostar', cursive;
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.564);
}

#banner {
    height: 80px;
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
}

a {
    text-decoration: none;
    grid-area: banner;
}

div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 33% auto 33%;
    grid-template-areas: "." "banner" ".";
    align-content: center;
}