html,body{
    height: 100%;
    width: 100%;
}

header {
    grid-area: header;
    background: rgb(0, 0, 0);
}



#nav {
    padding-top: 50px;
    height: 100%;
    grid-area: nav;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    background-image: url("../assets/turing_textrue.jpg");
    background-size: 700%;
    color: white;
    
}

#nav>a {
    margin-top: 20px;
    font-size: 16px;
    display: block;
    color: white;
    text-decoration: none;
}

#nav>a:visited {
    color: white;
}

#nav>a:hover{
    color: red;
}

.hidden {
    display: none;
}