main {
    grid-area: page-content;
    margin-left: 20px;
}

#cards li.hidden {
    display: none;
}

#dropdown {
    margin: 20px 0 0 15px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

#cards>li {
    display: grid;
    grid-template-rows: 40px auto 30px 30px 30px;
    grid-template-columns: 100%;
    grid-template-areas: "title" "image" "artist" "price" "buy";
    justify-content: center;
    list-style: none;
    height: 350px;
    width: 300px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 3px solid red;
    background-color: rgb(205, 215, 213);
}

#cards li img {
    grid-area: image;
    align-self: center;
    justify-self: center;
    max-width: 90%;
    max-height: 100%;
}

.price {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    grid-area: title;
    margin-top: 5px;
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
}

p {
    margin: 0px;
}